<div class="row container-fluid justify-content-center whitespace">
	<div class="col-3">
		<img src="{{ url_for('static', filename='images/Logo3.png') }}" class="position-absolute contactus-logo"/>
		<h2 class="feature-title text-uppercase text-white">Contact Us</h2>
	</div>
</div>
<div class="row container-fluid justify-content-center contactus-margin">
	<div class="col-lg-3 col-md-3 col-sm-12">
		<h2 class="mini-text-attrib text-white">We'd love to speak with you</h2>
	</div>
</div>
<div class="row container-fluid my-offset justify-content-center text-center">
	<div class="col-lg-2 col-md-2 col-sm-12">
		<button type="button" class="btn btn-secondary btn-lg contact-pos" disabled>Email<br/>eagle.aguila@gmail.com</button>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-12">
		<button type="button" class="btn btn-secondary btn-lg contact-pos" disabled>Call<br/>(123) 456-7890</button>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-12">
		<button type="button" class="btn btn-secondary btn-lg contact-pos" disabled>Mailing Address<br/>123 Baguio City, Philippines</button>
	</div>
</div>
<div id="ContactInput">
</div>